chromadb
#sqlite3>=3.35

# 기본
streamlit>=1.32
langchain>=0.2.0
langchain-community>=0.2.0
langchain-openai>=0.1.0
langchain-text-splitters>=0.2.0
langchain-huggingface>=0.1.0
tiktoken
loguru


# RAG 구성 요소
faiss-cpu
sentence-transformers
torch

# 로더들
pypdf
docx2txt
unstructured
unstructured[pptx]
